body{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerImg{
    position: relative;
    width: 600px;
}

.restaurantName{
    position: absolute;
    color: whitesmoke;
    top: 150px;
    left: 200px;
}

.restaurantDesc{
    position: absolute;
    color: whitesmoke;
    top: 200px;
    left: 160px;
}

.modal-payment{
    width: 495px;
    padding: 0 30px 30px 30px;
    border: 2px solid black;
    position: absolute;
    top: 200px;
    left: 475px;
    color: black;
    background-color: white;
}

.modal-input{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.cardInput{
    margin-bottom: 15px;
    width: 475px;
    height: 71px;
    font-size: 20px;
    padding-left: 20px;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
}

.closeBtn{
    width: 20px;
    font-size: 20px;
    text-align: center;
    padding: 0;
    position: absolute;
    right: 0;
    background-color: white;
    border: none;
}

.payBtn{
    background-color: #16DB99;
    width: 476px;
    height: 71px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 4px;
}